:root {
    --nav-color: rgb(0 132 253);
    --card-blue: rgb(181 221 255);
    --violet-main: rgb(151 146 228);
    --title-orange: rgb(253 193 95);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: 'PT Sans', sans-serif;
}