:root {
    --nav-color: rgb(0 132 253);
    --card-blue: rgb(181 221 255);
    --violet-main: rgb(151 146 228);
    --title-orange: rgb(253 193 95);
    --nav-height: 4rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: 'PT Sans', sans-serif;
}

/* commons */
.button {
    background-color: white;
    padding: .3rem .6rem;
    border-radius: 25px;
    color: black;
    display: inline-block;
    text-align: center;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.button-big {
    background-color: var(--nav-color);
    padding: .3rem 2.5rem;
    border-radius: 25px;
    color: white;
    display: inline-block;
    text-align: center;
    font-size: 1.2rem;
}

/* utilities */
.tac {
    text-align: center;
}

.vp {
    padding: 2rem 0;
}

.color-blue {
    color: var(--nav-color);
}

.pb-1 {
    padding-bottom: 1.5rem;
}

.line-height {
    line-height: 1.5rem;
}

.pt-1 {
    padding-top: 1.5rem;
}

.fs-icon {
    font-size: 3rem;
    width: 100%;
}

.center {
    justify-content: center;
}

/* header */

/* nav */
header {
    width: 100%;
}

nav {
    width: 100%;
    height: var(--nav-height);
    background-color: var(--nav-color);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.fa-bars {
    font-size: 1.5rem;
    color: white;
}

header li {
    list-style-type: none;
    font-size: .8rem;
}

header a {
    text-decoration: none;
    color: white;
}

header ul {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu {
    display: none;
}

@media screen and (min-width: 993px) {
    .menu {
        display: block;
    }

    .fa-solid.fa-bars {
        display: none;
    }
}

/* main */

/* hero */
#hero {
    padding-top: var(--nav-height);
    padding-bottom: 2rem;
}

.container-70 {
    width: 100%;
    margin: 1rem auto;
    padding: 1rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.col-hero {
    width: 100%;
    background-color: var(--card-blue);
    border-radius: 20px;
    padding: 2rem;
    padding-bottom: 0;
}

#hero a {
    text-decoration: none;
    color: white;
}

@media screen and (min-width: 769px) {
    #hero .col-hero {
        width: calc(100% / 3 - 2rem / 3);
    }

    #hero .col-big {
        width: calc(100% * 2 / 3 - 1rem / 3);
    }
}

@media screen and (min-width: 993px) {
    .container-70 {
        width: 70%;
    }

    .box-60 {
        width: 60%;
    }
    
    .box-40 {
        width: 40%;
    }
}

/* planning */
#planning {
    background-color: var(--violet-main);
    padding-top: 2rem;
}

.container-60 {
    width: 100%;
    margin: 1rem auto;
    padding: 1.5rem 1rem;
}

.col-planning {
    width: 100%;
    height: 500px;
    background-color: black;
    border-radius: 20px;
}

@media screen and (min-width: 993px) {
    .container-60 {
        width: 60%;
    }

    #planning .col-planning {
        width: calc(100% / 2 - 1rem / 2);
    }
}

/* testimonials */
#testimonials {
    padding-bottom: 2rem;
}

.col-testimonials {
    width: 100%;
    height: 500px;
    background-color: red;
    border-radius: 20px;
}

/* benefits */
#benefits {
    background-color: var(--violet-main);
    padding-bottom: 1.5rem;
}

.col-benefits {
    width: 100%;
    height: 500px;
    background-color: brown;
    border-radius: 20px;
}

@media screen and (min-width: 769px) {
    #benefits .col-benefits {
        width: calc(100% / 2 - 1rem / 2);
    }
}

@media screen and (min-width: 993px) {
    #benefits .col-benefits {
        width: calc(100% / 3 - 2rem / 3);
    }
}

/* about-us */
#about-us {
    padding: 3rem 0;
}

.col-about-us {
    width: 100%;
    height: 500px;
    background-color: blue;
    border-radius: 20px;
}

@media screen and (min-width: 769px) {
    #about-us .col-about-us {
        width: calc(100% / 2 - 1rem / 2);
    }
}

@media screen and (min-width: 993px) {
    #about-us .col-about-us {
        width: calc(100% / 3 - 2rem / 3);
    }

    #about-us .col-big {
        width: calc(100% * 2 / 3 - 1rem / 3);
    }
}

/* cta */
#cta {
    background-color: var(--violet-main);
    padding: 2rem 0;
}

.container-50 {
    width: 100%;
    margin: 1rem auto;
    padding: 1.5rem 1rem;
}

.col-cta {
    width: 100%;
    height: 500px;
    background-color: grey;
    border-radius: 20px;
}

@media screen and (min-width: 769px) {
    .container-50 {
        width: 80%;
    }
}

@media screen and (min-width: 993px) {
    .container-50 {
        width: 50%
    }
}

/* footer */
footer {
    background-color: rgb(65, 65, 65);
    padding: 2rem 0;
}

.col-footer {
    width: 100%;
    height: 200px;
    background-color: rgb(184, 24, 24);
    border-radius: 20px;
}